"WebFinger resources SHOULD support the "rel" parameter. If the
resource does not support the "rel" parameter, it MUST ignore the
parameter and process the request as if no "rel" parameter values
were present."

we're definitely spec compliant here, is there a compelling reason to
implement the rel parameter besides just completeness?

On Fri, Jan 25, 2019, 12:01 PM rugk <notifications@github.com> wrote:

> Pitch
>
> RFC 2033 section 4.3 <https://tools.ietf.org/html/rfc7033#section-4.3>
> specifies that you can use a rel parameter to only return one link.
>
> However, e.g.
> https://mastodon.social/.well-known/webfinger?resource=acct:rugk_testing@mastodon.social&rel=self
> does still return all the link items.
> So iIguess Mastodon just ignores that and doies not implement it.
> Motivation
>
> It's likely good to implement standards properly. I think I don't have to
> explain that.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/tootsuite/mastodon/issues/9917>, or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAORV5sB-_5m1n1rhNNSKPhXJl20Vebcks5vGzhXgaJpZM4aTSaO>
> .
>


Well… yeah, complaint for sure. But may be useful to implement. I mean, it can save a few bytes, at least… :smile: 

So as a use case, I am just using it in my [add-on](https://addons.mozilla.org/firefox/addon/mastodon-simplified-federation/), that's only why I noticed it.